.root {
    height: 100%;
    width: 100%;
    min-height: 200px;
    position: relative;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.errorContainer {
    height: 100%;
    padding: 2rem;
    background: rgba(0,0,0,.9);
    color: white;
    overflow: auto;
    box-sizing: border-box;
}

.errorText {
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.closeButton {
    border: none;
    height: 2rem;
    width: 2rem;
    background: rgba(255,255,255,.1);
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: .25rem;
    fill: white;
    display: grid;
    place-items: center;
}

.loadingContainer {
    height: 100%;
    display: grid;
    place-items: center;
}

.interpreter {
    flex: 1;
}