
.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 12rem;
}

.editorContainer {
    flex: 1;
    position: relative;
}

.editor {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 200px;
}

.headerContainer {
    position: relative;
    overflow: auto;
}

.header {
    position: relative;
    height: 2rem;
    overflow: auto;
}

.headerOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tabs {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    font-size: .9rem;
}

.tab {
    composes: button from '../../global.css';
    height: 100%;
    padding: 0px .5rem;
    position: relative;
}

.hide {
    display: none;
}