.root {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    -moz-transition: height .22s ease;
    -webkit-transition: height .22s ease;
    -o-transition: height .22s ease;
    transition: height .22s ease;
}

.headerPlaceholder {
    height: 2rem;
    position: relative;
}

.open {
    height: 100%;
}

.closed {
    height: 2rem;
}

.header {
    display: flex;
    align-items: center;
    height: 2rem;
}

.content {
    flex: 1;
    overflow: auto;
}

.toggleButton {
    composes: button from '../../global.css';
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    padding: 0 .25rem;
    align-items: center;
    justify-content: space-between;
}

.label {
    padding: 0 .25rem;
}

.icons {
    display: flex;
    align-items: center;
}

.clearButton {
    composes: button from '../../global.css';
    height: 2rem;
    padding: 0 .25rem;
    display: flex;
    align-items: center;
}

.toggleIcon {
    padding: 0 .25rem;
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}