body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CodeMirror * {
  font-family: 'Fira Code';
  font-size: .88rem;
}

.highlight {
  background-color: rgba(255,255,255,.08);
}

.highlightable {
  background-color: rgba(0,20,80,.1);
}

.highlightable:hover {
  background-color: rgba(0,20,80,.15);
}

.tutorial::after {
  content: '';
  margin-bottom: 12rem;
}

.inline-editor {
  height: 300px !important;
}